/* selector */
#external_css {
  /* declaration block */
  color: rgb(195, 98, 50); /* property:value */
}

.sub-heading {
  color: rgb(108, 121, 117);
  background-color: blanchedalmond;
  width: fit-content;
}

mark {
  color: rgb(156, 148, 137);
  padding: 10px;
}

.example {
  list-style: decimal-leading-zero;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  width: fit-content;
  margin: 10px;
  color: rgb(94, 94, 94);
}

#redirect_btn {
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  color: white;
  box-shadow: slateblue 2px 2px;
}

[type="text"] {
  border: 1px solid gray;
  padding: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 5px;
}

div p {
  background-color: darkgoldenrod;
  width: fit-content;
  padding: 10px;
}

div > i {
  background-color: rgb(109, 160, 110);
  width: fit-content;
  /* height: 10vh; */
  padding: 10px;
  display: block;
  border: 2px solid black;
}

h5 + span {
  background-color: rgb(106, 116, 204);
  width: fit-content;
  /* height: 10vh; */
  padding: 10px;
}

h6 ~ span {
  background-color: rgb(101, 55, 105);
  width: fit-content;
  /* height: 10vh; */
  padding: 10px;
}

* {
  cursor: grab;
}
