.block {
  display: block;
  width: 200px;
  height: 100px;
  background-color: blue;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.inline {
  display: inline;
  background-color: yellow;
  padding: 5px;
  margin-right: 10px;
}

.inline-block {
  display: inline-block;
  width: 150px;
  height: 75px;
  background-color: green;
  color: white;
  padding: 8px;
  margin-right: 10px;
}

.flex-container {
  display: flex;
}

.flex-item {
  background-color: orange;
  padding: 10px;
  margin-right: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-item {
  background-color: pink;
  padding: 10px;
  margin-right: 10px;
}

.none {
  display: none;
}

.inline-flex-container {
  display: inline-flex;
  background-color: lightblue;
  padding: 10px;
}

.inline-flex-item {
  background-color: pink;
  padding: 10px;
  margin: 5px;
}

/* position */

.static-example {
  position: static;
  border: 1px solid black;
  padding: 10px;
}

.relative-example {
  position: relative;
  top: 20px;
  left: 20px;
  border: 1px solid black;
  padding: 10px;
}

.absolute-example {
  position: relative; /* Parent element should be positioned */
}

.absolute-child {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  padding: 10px;
}

.fixed-example {
  position: fixed;
  top: 20px;
  left: 20px;
  border: 1px solid black;
  padding: 10px;
}

.sticky-example {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid black;
}

.float-left {
  float: left;
  width: 50%;
  background-color: lightblue;
  padding: 10px;
  box-sizing: border-box;
}

.float-right {
  float: right;
  width: 50%;
  background-color: lightgreen;
  padding: 10px;
  box-sizing: border-box;
}
